.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.column-right {
  max-height: 605px;
  overflow-y: scroll;

  /* tiny scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  background-color: rgb(70, 70, 70);
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button:disabled:hover {
  opacity: 1;
}

.button:active {
  background-color: #3e8e41;
}

.button-write {
  background-color: rgb(219, 120, 0);
}

.button-write:active {
  background-color: rgb(147, 81, 0);
}

.button-write:disabled {
  background-color: #cccccc8f;
  color: #666666;
  cursor: not-allowed;
}

table {
  margin-top: 27px;
  width: 400px;
  max-height: 200px;
  overflow-y: scroll;
  background-color: rgb(237, 237, 237);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  color: rgb(246, 220, 71);
}

.scrivi-registro-container {
  border: 1px solid gold;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(43, 43, 43);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .column {
    flex: 100%;
    padding: 5px;
  }

  .form-input {
    width: 100%;
    padding: 10px 15px;
  }

  .button {
    padding: 10px 15px;
  }

  table {
    width: 100%;
    max-height: 150px;
  }
}
